<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today</title>

    <link rel="stylesheet" href="/public/header/header.css" />
    <link rel="stylesheet" href="/public/footer/footer.css" />
    <link rel="stylesheet" href="/public/main.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
        <div class="about-page">
          <img src="/public/img/home.png" alt="main-img" />

          <div class="about-text">
            <h1>Today</h1>
            <p class="text-box">
              Today는 2023년부터 서울을 기반으로 활동하고 있는
              라이프스타일 브랜드이자, 디자인 스튜디오입니다.
              우리는 시대정신을 갖고 과거와 현재의 가치를 잇는 디자인 활동을 하며,
              다양한 인쇄매체와 제품, 공간, 전시, 콘텐츠 퍼블리싱 등을 통해 디자인을 제안합니다.
            <br><br>
                Today is a Seoul based design studio established in 2023.
              We believe that design takes on the role of a bridge that connects
              the value of the past with present.
              The OIMU projects reinterpret the forgotten cultural value.
              We create brand identities, printed matter, products, artwork, exhibition,
              content publishing and more.
            </p>
            <div>
            <p class="contact-box">
              <h3>CONTACT</h3>
              다양한 분야의 브랜드와의 협업을 환영합니다. <br>
              We welcome collaboration with brands in various fields.<br>
              We would love to hear from you.<br>

              today.seoul@gmail.com
            </p>
          </div>
        </div>
        </div>
      
    </div>
    <div id="footer"></div>

    <script src="/public/header/header.js"></script>
    <script src="/public/main.js"></script>
    <script src="/public/footer/footer.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
