<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today</title>

    <link rel="stylesheet" href="/public/header/header.css" />
    <link rel="stylesheet" href="/public/footer/footer.css" />
    <link rel="stylesheet" href="/public/main.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div class="row main-content">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row mainImg">
            <img src="/public/img/home.png" alt="main-img" />
          </div>
          <div class="row main-text" id="bestTitle">
            <p>BEST</p>
          </div>
          <div class="row best-list" id="bestList"></div>
          <hr style="border: 1px solid gray;">
          <div class="row main-text" id="newTitle">
            <p>신상품</p>
          </div>
          <div class="row best-list" id="newList"></div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div id="footer"></div>

    <script src="/public/header/header.js"></script>
    <script src="/public/main.js"></script>
    <script src="/public/footer/footer.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
