.sidenav {
    position: relative;
    margin-left: 230px;
    margin-top: 100px;
}

ul.nav.nav-pills.nav-stacked {
    display: block;
}

ul.nav.nav-pills.nav-stacked a {
    color: #000000;
    text-decoration: none;
}

ul.nav.nav-pills.nav-stacked a:hover {
    color: #D3CDB3 !important;
    text-decoration: underline !important;
}

.column-gap {
    margin-right: 100px !important;
    display: flex;
    justify-content: end;
}

.sidenav li {
    font-size: 23px;
}

.order-admin {
    background: #D3CDC8;
    border: 1px solid #D3CDC8;
    border-radius: 5px;
    padding: 8px;
    margin-top: 26px;
    font-size: 14px;
}

.order-admin a {
    color: #fff;
    text-decoration: none;
}

.order-admin:hover {
    background: #B4A687;
}