.product-img {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
  align-self: center;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #E7E7E7;
}

.product-info {
  text-align: center;
  font-size: 20px;
}

div.card {
  border: none;
  flex-basis: auto;
  box-sizing: border-box;
  margin-bottom: 80px;  
  margin-right: 20px;
  max-width: 100%;
}

div.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.product-price{
  font-size: 17px;
  text-decoration: none;
}

.picked-product {
  text-decoration: none;
  color: black;
}