.sidenav {
    position: relative;
    margin-left: 230px;
    margin-top: 100px;
}

ul.nav.nav-pills.nav-stacked {
    display: block;
    padding-left: 15%;
}

ul.nav.nav-pills.nav-stacked a {
    color: #000000;
    text-decoration: none;
}

ul.nav.nav-pills.nav-stacked a:hover {
    color: #D3CDB3!important;    
    text-decoration: underline !important;
}

.column-gap {
    margin-right: 100px !important;
}

.sidenav li {
    font-size: 23px;
  }