.order-container {
  justify-content: space-between;
  padding: 0 10%;
  margin: 0;
}

.row {
  --bs-gutter-x: 0 !important;
}
.page-title > h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px;
}

.col-1 {
  text-align: center;
  align-items: center;
}

.order-container .cart-contents {
  justify-content: space-between;
  margin-bottom: 80px;
}

.order-list {
  background-color: #f2f2f2;
}

.order-list .cart-title {
  justify-content: space-between;
  padding: 10px 0;
}

.item-info {
  height: 150px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.cart-price {
  justify-content: end;
  padding: 10px 10px !important;
}

/* 배송 정보 form */
#order-form > span {
  font-size: 22px;
  font-weight: bold;
}

label {
  font-size: 18px;
}

.form-control {
  width: 300px !important;
}

form > div {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.phone-inputs {
  display: flex;
  align-items: center;
}

.phone-inputs input {
  width: 100px !important;
  margin: 0 5px;
}

.form-submit-btn {
  background-color: #d3cdb3;
  border: 1px solid #d3cdb3;
  color: black;
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  display: block;
  margin: 30px auto 100px;
}

/* orderComplete.html style */
.complete-container{
  display: flex ;
  padding: 0px !important;  
  margin: 0 auto;
  justify-content: center;

}

.row .complete-contents {
  position: relative;
  margin: 100px auto;
  max-width: 800px;
}

.complete-contents > .complete-title {
  padding: 40px 100px;
  white-space: nowrap;
  border-radius: 15px;
}

#orderNum {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
}

#orderNum span{
  text-align: center;
}

.row .toMain-btn {
  width: 300px;
  margin: 0 auto;
}

.row .toMain-btn button {
  padding: 15px;
  margin: 30px 0;
  border: none;
  border-radius: 10px;
  background-color: #D3CDB3;
  font-size: 18px;
  font-weight: bold;
}


.complete-title{
  background-color: lightgray;
  justify-content: center;
  padding: 10px;
  max-width: 800px;
}

.complete-container > .row {
  margin-right: 300px;
}