<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/header/header.css" />
    <link rel="stylesheet" href="/user/nonMemberPage/nonMemberPage.css" />
    <link rel="stylesheet" href="/public/footer/footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>
      <section>
        <div class="order-div">
          <p>주문/배송 조회</p>
          <table class="order-tracking-table">
            <tr clas="title">
              <th>주문번호</th>
              <th>이미지</th>
              <th>상품정보</th>
              <th>구매금액</th>
              <th>수량</th>
              <th>주문상태</th>
              <th>배송상태</th>
            </tr>
            <!-- <tr id="order-item1">
              <td>988172-1231010</td>
              <td><img src="/products/prdDeImg1.png" /></td>
              <td>RING OFF THE CATSA</td>
              <td>45,000</td>
              <td>1</td>
              <td>
                <button>취소신청</button>
              </td>
              <td>출고 완료</td>
            </tr>
            <tr id="order-item2">
              <td>988172-1231010</td>
              <td><img src="/products/prdDeImg1.png" /></td>
              <td>RING OFF THE CATSA</td>
              <td>45,000</td>
              <td>1</td>
              <td>
                <button>취소신청</button>
              </td>
              <td>출고 완료</td>
            </tr>
            <tr id="order-item3">
              <td>988172-1231010</td>
              <td><img src="/products/prdDeImg1.png" /></td>
              <td>RING OFF THE CATSA</td>
              <td>45,000</td>
              <td>1</td>
              <td>
                <button>취소신청</button>
              </td>
              <td>출고 완료</td>
            </tr>
            <tr id="order-item4">
              <td>988172-1231010</td>
              <td><img src="/products/prdDeImg1.png" /></td>
              <td>RING OFF THE CATSA</td>
              <td>45,000</td>
              <td>1</td>
              <td>
                <button>취소신청</button>
              </td>
              <td>출고 완료</td>
            </tr>
            <tr id="order-item5">
              <td>988172-1231010</td>
              <td><img src="/products/prdDeImg1.png" /></td>
              <td>RING OFF THE CATSA</td>
              <td>45,000</td>
              <td>1</td>
              <td>
                <button>취소신청</button>
              </td>
              <td>출고 완료</td> -->
            <!-- </tr> -->
          </table>
        </div>
      </section>
    </div>
    <div id="footer"></div>
  </body>
</html>
<script src="/public/header/header.js"></script>
<script src="/public/footer/footer.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
<script src="/user/nonMemberPage/nonMemberPage.js"></script>
