.flex-style {
    gap: 175px;
}

.login-form {
    display: grid;
}

.login-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.user-email {
    border: none;
    background: #E9E9E9;
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
}

.login-password {
    border: none;
    background: #E9E9E9;
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    margin-bottom: 5px;
}

.user-login {
    font-size: 12px;
}

.checkbox-container {
    align-items: center;
    display: flex;
    gap: 5px;
    margin-bottom: 35px;
}

.idsave-label {
    font-size: 12px;
}

.checkbox-idsave {
    width: 11px;
}

.login-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.login-btn {
    border: none;
    width: 108px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    background: #D3CDB3;
}

.login-btn:hover {
    background: #B4A687;
}

.join-btn {
    border: 1px solid #D3CDB3;
    width: 108px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    background: #fff;
}

.join-btn:hover {
    background: #B4A687;
}

.login-btn a {
    text-decoration: none;
    color: #000;
}

.join-btn a {
    text-decoration: none;
    color: #000;
}

.guest-order-container {
    display: flex;
    justify-content: end;
}

.guest-order-btn {
    font-size: 12px;
    width: 81px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #9F9F9F;
    padding: 2px;
}

.guest-order-btn a {
    text-decoration: none;
    color: #000;
}

.guest-order-btn a:hover {
    text-decoration: underline;
}

.guest-login-form {
    display: grid;
}

.guest-login-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.guest-name {
    border: none;
    background: #E9E9E9;
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
}

.order-number {
    border: none;
    background: #E9E9E9;
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
}

.guest-login {
    font-size: 12px;
}

.guest-order-password {
    font-size: 12px;
}

.guest-password {
    border: none;
    background: #E9E9E9;
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    margin-bottom: 5px;
}

.login-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inquiry-btn {
    border: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    background: #D3CDB3;
}

.inquiry-btn a {
    text-decoration: none;
    color: #000;
}

.inquiry-btn:hover {
    background: #B4A687;
}